*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: hsl(202, 100%, 37%);
}

header {
 width: 100%;
 height: 58px;
 padding: 5px;
 overflow: auto;
 background-color: hsl(202, 100%, 32%);
 color: rgb(255, 255, 255);
 position: relative;
}

.square {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 5px;
    margin: 5px;;
}

.square h4 {
    display: inline-block;
}

.search {
    border-radius: 5px;
    padding: 8px;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
}

.title {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.icons {
    float: right;
    margin-top: 3px;
}

.icons span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

.icons .user {
  border-radius: 50%;
  background-image: url(../assets/imgs/foto-user/foto.jpg);
  background-size: cover;
  display: inline-block;
  padding:8px;
  font-size: 18px;
}

.user{
  color: transparent;
}

::placeholder {
  color: rgba(255,255,255,.7);
}

main {
  padding: 10px;
}

.input-pre-click {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: hsl(202, 100%, 33%);
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.input-pre-click:hover {
  background-color: hsl(202, 100%, 32%);
}

.pre-click {
  display: none;
}

.form-post-click {
  width: 310px;
  background-color: hsl(210, 7%, 89%);
  border-radius: 3px;
  float: left;
  padding: 5px;
  overflow: auto;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.input-post-click {
  background: linear-gradient(#cdcfd0, #d6d8da);
  border: 1px solid hsl(316, 5%, 58%);
  float: left;
  margin-bottom: 5px;
}
.input-post-click::placeholder {
  color: gray;
}

.button-post-click {
  width: 75px;
  height: 32px;
  border: none;
  background-color: hsl(107, 43%, 47%);
  border-radius: 3px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.paragraph {
  width: 300px;
  border-radius: 3px;
  background-color: hsl(202, 100%, 33%);
  font-size: 16px;
  padding: 6px 8px;
  background: linear-gradient(#F2F2F2,#E6E6E6);
  float: left;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.name-list {
  font-weight: bold;
  border: none;
  font-size: 20px;
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}
.textarea-card {
  border: none;
  width: 300px;
  height: 60px;
  overflow: hidden;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #fff;
}
